{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body style="background-color: #16d93c;">
<div class="container fullscreen">
    <div class="card shadow-lg o-hidden border-0 my-3">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                         style="background-image: url({% static 'img/img-2.jpeg' %})">

                    </div>
                </div>
                <div class="col-lg-7 m-0">
                    <div class="p-5">
                        <h1>Hey <span class="text-uppercase">{{ request.user.username }}</span>, register
                            a new customer</h1>
                        <div>
                            <div>
                                <span class="text-uppercase">{{ request.user.username }}</span>
                                <span id="text"></span>
                                <span id="cursor"></span>
                            </div>
                        </div>

                        <div class="form-container">
                            <form class="user" enctype='multipart/form-data' method="POST"
                                  action="{% url 'upload' %}">
                                {% csrf_token %}
                                {{ document_form }}
                                <br>
                                <input class="btn btn-secondary d-block btn-user w-100"
                                       type="submit">
                            </form>

                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>