<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
           user-scalable=no, initial-scale=1.0,
            maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <title>Email</title>
</head>
<body>
Hello {{ name }}, Welcome to GO-Immigration.
<p>Some recent changes have been made to your file!</p>

<div>You were at the level of
    {% if nose == 0 %}
        <span><b></b></span>
    {% elif nose == 10 %}
        <span><b>Signature du Contrat</b></span>
    {% elif nose == 20 %}
        <span><b>Documents par universite</b></span>
    {% elif nose == 30 %}
        <span><b>Denamnde et new_valueObtention d'admission a l'universite</b></span>
    {% elif nose == 40 %}
        <span><b>Demande et Obtention de CAQ</b></span>
    {% elif nose == 50 %}
        <span><b>Demande de PE</b></span>
    {% elif nose == 60 %}
        <span><b>Fournir les donees biometrique</b></span>
    {% elif nose == 70 %}
        <span><b>Examens Medicaux</b></span>
    {% elif nose == 80 %}
        <span><b>Demande de Passport</b></span>
    {% elif nose == 90 %}
        <span><b>Permis d'etude</b></span>
    {% elif nose == 100 %}
        <span><b>Arrivcan</b></span>
    {% else %}
        <i class="text-danger">Nothing to show up!</i>
    {% endif %}
    and now you are at the point of
    {% if new_value == 0 %}
        <br><i class="text-danger"> something seriously when
        wrong with our system.</i>
    {% elif new_value == 10 %}
        <span><b>Signature du Contrat</b></span>
    {% elif new_value == 20 %}
        <span><b>Documents par universite</b></span>
    {% elif new_value == 30 %}
        <span><b>Denamnde et Obtention d'admission a l'universite</b></span>
    {% elif new_value == 40 %}
        <span><b>Demande et Obtention de CAQ</b></span>
    {% elif new_value == 50 %}
        <span><b>Demande de PE</b></span>
    {% elif new_value == 60 %}
        <span><b>Fournir les donees biometrique</b></span>
    {% elif new_value == 70 %}
        <span><b>Examens Medicaux</b></span>
    {% elif new_value == 80 %}
        <span><b>Demande de Passport</b></span>
    {% elif new_value == 90 %}
        <span><b>Permis d'etude</b></span>
    {% elif new_value == 100 %}
        <span><b>Arrivcan</b></span>
    {% else %}
        <i>Nothing to show up</i>
    {% endif %}
</div>
</body>
</html>